/* sider navbar css over write start */
.sidebar.sidebar-style-2[data-background-color=dark2] .nav .nav-item.selected > a, .sidebar.sidebar-style-2[data-background-color=dark] .nav .nav-item.selected > a {
    color: #fff;
    font-weight: 700;
}
.sidebar.sidebar-style-2 .nav .nav-item .selected > a {
    background: rgba(199,199,199,.2);
}
/* sider navbar css over write end */


/* bootstrap modal customize start */
.modal-content {
    background: #202940;
}
.modal-header {
    border-bottom: 1px solid rgba(181,181,181,.1)!important;
}
.modal-content .close {
  color: #fff;
}
.modal-content .close:not(:disabled):not(.disabled):focus, .modal-content .close:not(:disabled):not(.disabled):hover {
    color: #fff;
}
.modal-footer {
    border-top: 1px solid rgba(181,181,181,.1)!important;
}
/* bootstrap modal customize end */



/* bootstrap modal nic edit customize start */
.modal-content .nicEdit-main {
    height: 400px !important;
    width: 100% !important;
    overflow-y: scroll !important;
}
/* bootstrap modal nic edit customize end */


/* bootstrap form control customize start */
.form-control[readonly] {
    background-color: #1a2035 !important;
    border-color: #2f374b !important;
}
/* bootstrap form control customize start */


/* image table preview for dropzone edit form start */
#imgtable .trdb {
    display: inline-block;
    position: relative;
    margin-right: 15px;
}

#imgtable .trdb button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px 5px;
}

#imgtable .trdb td {
    padding: 0px !important;
}
/* image table preview for dropzone edit form end */
